@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.backdrop {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header {
  margin-left: 0;
}

body p {
  margin: auto;
}

.header-info {
  height: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border-bottom: 1px solid #e5e5e5;
}

.header-phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-phone p {
  font-weight: 500;
  font-size: 14px;
  color: black;
}

.header-phone a {
  text-decoration: none !important;
  color: black !important;
}

.header-phone a:hover {
  text-decoration: none !important;
  color: black !important;
}

.header-phone::before {
  content: "";
  display: inline-block;
  margin-top: 12px;
  height: 37px;
  width: 25px;
  background: url(/img/phone.png) no-repeat;
}

.header-adress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-adress p {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}

.header-adress::before {
  content: "";
  display: inline-block;
  margin-top: 12px;
  height: 37px;
  width: 25px;
  background: url(/img/map_pin.png) no-repeat;
}

.header-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#search {
  padding: 5px 42px 5px 10px;
  height: 45px;
  background: url(/img/search_icon.png) no-repeat 94% 50%;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  font-size: 17px;
}

.mainhead {
  display: flex;
  padding: 20px 0 35px;
  align-items: center;
  justify-content: space-between;
}

.logoname {
  display: flex;
  align-items: center;
}

.logo-description {
  font-family: "Prata";
  font-size: 26px;
  color: #901322;
  margin: 0 5px 0 10px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
}

.main-menu li {
  list-style: none;
  position: relative;
}

.main-menu-item {
  padding: 10px 15px;
  font-size: 18px;
  color: black;
  position: relative;
  z-index: 10000;
}

.main-menu-item-active {
  background: #f87a2e;
  border-radius: 2px;
  color: white;
}

.main-menu-item:hover {
  background: rgba(248, 130, 59, 0.7);
  border-radius: 2px;
  color: white;
  text-decoration: none;
}

.main-submenu-list {
  position: absolute;
  display: none;
  width: 180px;
  top: 35px;
  background: #fff;
  border: 0;
  box-shadow: 0 1px 5px 0 #93a7b7;
  background-clip: padding-box;
  z-index: 100;
  right: 0;
}

.main-submenu-list a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 6px 10px;
  text-shadow: none;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  border: 0;
  text-align: left;
}

.main-submenu-item:hover {
  background: rgba(248, 130, 59, 0.7);
  color: white;
}

.main-menu li:hover .main-submenu-list {
  display: block;
}

.main-submenu-list li::after {
  background: rgba(248, 130, 59, 0.4);
  content: "";
  display: block;
  width: calc(100% - 12px);
  height: 1px;
  position: absolute;
  left: 6px;
  z-index: 99;
}

.main-image img {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  z-index: 10;
}

.main-banner-bg {
  background-image: url(/img/main_img_decor.png);
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.main-image {
  position: relative;
}

.banner-content {
  z-index: 20;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.5;
  display: flex;
  flex-flow: wrap column;
  text-align: left;
  max-width: 80%;
  max-width: 400px;
}

.banner-content h2 {
  font-family: "PrataReg";
  color: #f87a2e;
  font-size: 110px;
  letter-spacing: -2.225px;
  line-height: 0.9;
}

.decor img {
  margin: 30px 0;
}

.banner-content p {
  font-weight: 450;
  font-size: 15px;
  color: black;
}

.main-slider-item {
  height: 300px;
  overflow: hidden;
}
.main-slider-item img {
  width: 100%;
}

.slider {
  margin: 60px 0 80px;
  z-index: 30;
}

.slider h2 {
  height: auto;
  margin-bottom: 70px;
  text-align: center;
}

.main-slider-item-wrap {
  z-index: 30;
}

.category {
  position: absolute;
  bottom: 30px;
  left: 40px;
  background: #f87a2e;
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  font-size: 24px;
  border-radius: 5px;
  max-width: 70%;
}

.category:hover {
  background: rgba(248, 130, 59, 0.9);
  color: white;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 50px;
}

.about-img {
  overflow: hidden;
}

.text-decoration img {
  margin-bottom: 30px;
}

.about-text {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column wrap;
  padding: 60px 40px 60px 60px;
}

.text h2 {
  font-size: 28px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 400;
}

.text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  color: #7b7b7b;
  margin-bottom: 20px;
}

.slider {
  position: relative;
}

.prev {
  position: absolute;
  top: calc(50% - 15px);
  background-color: rgba(248, 130, 59, 1);
  background-image: url("/img/carousel_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 200;
  left: -4%;
}

.next {
  position: absolute;
  top: calc(50% - 15px);
  background-color: rgba(248, 130, 59, 1);
  background-image: url("/img/carousel_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 200;
  right: -4%;
  transform: rotate(180deg);
}

.stocks-text {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  margin: 20px 0 50px;
}

.slider-title {
  text-align: center;
}

.slider-stocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.slider-stocks img {
  padding: 40px 0 30px;
}

.stocks-discription {
  text-align: left;
  max-width: 80%;
}

.slider-stocks a {
  bottom: 30px;
  left: 40px;
  background: #f87a2e;
  color: white;
  text-decoration: none;
  padding: 10px 8px;
  font-size: 24px;
  border-radius: 3px;
}

.slider-stocks p {
  height: 10em;
  margin-top: 30px;
}

.seo-text {
  margin: 30px 0;
}

.footer {
  position: relative;
  box-shadow: none;

  background: 0 0;
  padding: 35px 0;
  height: auto;
  border: none;
  margin: 60px auto 0;
}

.footer .header-info {
  border: none;
}

.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  top: -8px;
  left: 0;
  background: url(/img/bottom_decor.png) repeat-x;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .mainhead {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  .logoname {
    margin-bottom: 20px;
  }

  .banner-content h2 {
    font-size: 90px;
  }

  .slider-title {
    font-size: 25px;
  }

  .category {
    font-size: 20px;
  }

  .slider-stocks a {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .header-adress {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-start;
    align-items: unset;
    grid-row: 2;
    padding-bottom: 10px;
    padding-top: 0px;
  }

  .header-adress::before {
    margin-top: unset;
  }

  .header-search {
    grid-column: 3;
    padding-top: 15px;
  }

  .header-phone {
    padding-top: 15px;
  }

  .backdrop.backdrop-shadow {
    left: 0;
    opacity: 1;
    z-index: 100;
  }
  .hamburger {
    display: inline-block !important;
    z-index: 120;
  }

  .main-menu {
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    z-index: 40;
    margin-bottom: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 50px 0 50px;
    transition: left 0.3s ease-in-out;
    background: white;
    box-shadow: 0 1px 5px 0 #93a7b7;
    z-index: 110;
  }

  .main-menu.open {
    left: 0;
  }
  .main-menu li {
    width: 100%;
    text-align: left;
    padding: 1px 0;
  }

  .main-menu-item-active {
    background: #f87a2e;
    color: white;
  }

  .main-menu-item {
    background-color: #f87a2e;
    color: white;
    display: block;
    border-radius: 25px;
  }

  .main-menu-item:hover {
    background: #ff6200;
    border-radius: 25px;
    color: white;
    text-decoration: none;
  }

  .main-submenu-list {
    position: relative;
    display: none;
    width: 90%;
    left: 14px;
    top: 0px;
    background: none;
    box-shadow: none;
    background-clip: padding-box;
    z-index: 100;
  }

  .main-submenu-list a {
    display: block;
    background: #f8843c;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    text-shadow: none;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 20px;
    border: 0;
    text-align: left;
    border-radius: 35px;
  }

  .main-submenu-item:hover {
    background: #ff6200;
    color: white;
  }

  .main-menu li:hover .main-submenu-list {
    display: none;
  }

  .main-submenu-list li::after {
    background: none;
  }

  .main-banner-bg {
    background-size: 35%;
  }

  .banner-content h2 {
    font-size: 80px;
  }

  .decor img {
    margin: 15px 0;
  }

  .slider-title {
    font-size: 20px;
  }

  .category {
    font-size: 15px;
    bottom: 15px;
  }

  .main-slider-item {
    height: auto;
  }

  .next {
    right: -5%;
  }

  .prev {
    left: -5%;
  }

  .about {
    grid-template-columns: 100%;
  }

  .about-img {
    display: flex;
    justify-content: center;
  }

  .slider-stocks img {
    width: 100%;
  }

  .slider-stocks a {
    font-size: 17px;
  }
}

@media screen and (min-width: 320) and (max-width: 767px);
 {
}
