@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero {
  margin-left: 0;
}

body p {
  margin: auto;
}

.info {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.phone {
  padding: 0 0 0 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.phone p {
  font-weight: 500;
  font-size: 14px;
  color: black;
}

.phone::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px;
  height: 37px;
  width: 25px;
  background: url(/img/phone.png) no-repeat;
}

.adress {
  padding: 0 0 0 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.adress p {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}

.adress::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: -5px;
  height: 37px;
  width: 25px;
  background: url(/img/map_pin.png) no-repeat;
}

#search {
  padding: 5px 42px 5px 10px;
  height: 45px;
  background: url(/img/search_icon.png) no-repeat 94% 50%;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  font-size: 17px;
}

.mainhead {
  display: flex;
  padding: 20px 0 35px;
  align-items: center;
  justify-content: space-between;
}

.logoname {
  display: flex;
  align-items: center;
}

.logo-description {
  font-family: "Prata";
  font-size: 26px;
  color: #901322;
  margin: 0 5px 0 10px;
}

.burger-button {
  display: none;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
}

.main-menu li {
  list-style: none;
  position: relative;
}

.main-menu-item {
  padding: 10px 15px;
  font-size: 18px;
  color: black;
  position: relative;
  z-index: 10000;
}

.main-menu-item-active {
  background: #f87a2e;
  border-radius: 2px;
  color: white;
}

.main-menu-item:hover {
  background: rgba(248, 130, 59, 0.7);
  border-radius: 2px;
  color: white;
  text-decoration: none;
}

.main-submenu-list {
  position: absolute;
  display: none;
  width: 180px;
  top: 35px;
  background: #fff;
  border: 0;
  box-shadow: 0 1px 5px 0 #93a7b7;
  background-clip: padding-box;
  z-index: 100;
  right: 0;
}

.main-submenu-list a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 6px 10px;
  text-shadow: none;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  border: 0;
  text-align: left;
}

.main-submenu-item:hover {
  background: rgba(248, 130, 59, 0.7);
  color: white;
}

.main-menu li:hover .main-submenu-list {
  display: block;
}

.main-submenu-list li::after {
  background: rgba(248, 130, 59, 0.4);
  content: "";
  display: block;
  width: calc(100% - 12px);
  height: 1px;
  position: absolute;
  left: 6px;
  z-index: 99;
}

.main-image img {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  z-index: 10;
}

.main-banner-bg {
  margin-bottom: 110px;
}

.main-image {
  position: relative;
}

.banner-content {
  z-index: 20;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.5;
  display: flex;
  flex-flow: wrap column;
  text-align: left;
  max-width: 80%;
  max-width: 400px;
}

.banner-content h2 {
  font-family: "PrataReg";
  color: #f87a2e;
  font-size: 110px;
  letter-spacing: -2.225px;
  line-height: 0.9;
}

.decor img {
  margin: 30px 0;
}

.banner-content p {
  font-weight: 450;
  font-size: 15px;
  color: black;
}

.main-image::after {
  content: "";
  display: block;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  height: 420px;
  width: 100vw;
  background: url(../img/main_img_decor.png) repeat-x;
  z-index: 1;
}

.main-slider-item {
  height: 300px;
  overflow: hidden;
}
.main-slider-item img {
  width: 100%;
}

.slider {
  margin: 60px 0 80px;
  z-index: 30;
}

.slider h2 {
  height: auto;
  margin-bottom: 70px;
  text-align: center;
}

.main-slider-item-wrap {
  z-index: 30;
}

.category {
  position: absolute;
  bottom: 30px;
  left: 40px;
  background: #f87a2e;
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  font-size: 24px;
  border-radius: 5px;
  max-width: 70%;
}

.category:hover {
  background: rgba(248, 130, 59, 0.9);
  color: white;
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.woman {
  width: 50%;
}

.text-decoration img {
  margin-bottom: 30px;
}

.text {
  background-color: #f6f6f6;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  padding: 60px 40px 60px 60px;
}

.text h2 {
  font-size: 28px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 400;
}

.text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  color: #7b7b7b;
  margin-bottom: 20px;
}

.slider {
  position: relative;
}

.prev {
  position: absolute;
  top: calc(50% - 15px);
  background-color: rgba(248, 130, 59, 1);
  background-image: url("/img/carousel_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 200;
  left: -80px;
}

.next {
  position: absolute;
  top: calc(50% - 15px);
  background-color: rgba(248, 130, 59, 1);
  background-image: url("/img/carousel_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 200;
  right: -80px;
  transform: rotate(180deg);
}

.stocks-text {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  margin: 20px 0 50px;
}

.slider-title {
  text-align: center;
}

.slider-stocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.slider-stocks img {
  padding: 40px 0 30px;
}

.stocks-discription {
  text-align: left;
  max-width: 80%;
}

.slider-stocks a {
  bottom: 30px;
  left: 40px;
  background: #f87a2e;
  color: white;
  text-decoration: none;
  padding: 10px 8px;
  font-size: 24px;
  border-radius: 3px;
}

.slider-stocks p {
  height: 10em;
  margin-top: 30px;
}

.seo-text {
  margin: 30px 0;
}

.footer {
  position: relative;
  box-shadow: none;

  background: 0 0;
  padding: 35px 0;
  height: auto;
  border: none;
  margin: 60px auto 0;
}

.footer .info {
  border: none;
}

.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  top: -8px;
  left: 0;
  background: url(/img/bottom_decor.png) repeat-x;
}
